<div class="mx-auto logo" style="width: 200px;"><img src="./assets/img/logo.png"/></div>
<h1>Demande de congès <span class="badge badge-primary">New</span></h1>

<conge-formulaire></conge-formulaire>

<fieldset>
  <legend>Informations</legend>
  <p class="info-legal"><em>"Toute absence sans accord préalable de la direction du personnel sera considérée comme
    absence injustifiée avec
    les
    conséquences qui en découlent. Afin d'avoir la certitude d'une réponse dans un délai convenable, nous vous
    conseillons
    vivement d'envoyer vos demandes un mois à l'avance. Toute demande nous parvenant après la date du début du congé
    sera
    rejetée."</em></p>

  <blockquote class="blockquote info-legal"><p class="mb-0"><em>
    "Toute demande de congè, en dehors des congès payés programmés par l'entreprise doit faire l'objet d'une demande
    écrite de la part du salarié. En l'absence d'une réponse au delà du délai de 15 jours cette demande sera supposée
    acceptée."</em></p>
    <footer class="blockquote-footer">EXTRAIT DU REGLEMENT INTERIEUR</footer>
  </blockquote>

  <blockquote class="blockquote info-legal"><p class="mb-0"><em>
    "Les dates individuelles des congés seront fixées par l'employeur après consultation des intéressés en fonction
    des
    nécessités du service. La liste de principe des tours de départ sera portée à la connaissance des intéressés deux
    mois
    avant leur départ. Satisfaction sera donnée dans toute la mesure compatible avec le service aux salariés dont les
    enfants fréquentent l'école et qui désirent prendre leur congé pendant une période de vacances scolaires. Les
    conjoints travaillant dans la même entreprise ont droit à un congé simultané. Lorsque plusieurs membres de la même
    famille vivant sous le même toit travaillent dans la même entreprise, le congé leur sera accordé simultanément
    s'ils
    le désirent dans la mesure compatible avec le service. Si l'employeur, sous un délai inférieur à deux mois,
    exprime
    son désir de voir modifier les dates déterminant le congé d'un salarié, la modification ne peut intervenir
    qu'après
    accord préalable entre les deux parties, tenant compte notamment d'un dédommagement correspondant aux frais
    éventuels
    occasionnés. L'employeur peut alors exiger une justification."</em></p>
    <footer class="blockquote-footer">ARTICLE 26 DE LA CONVENTION COLLECTIVE</footer>
  </blockquote>
</fieldset>
