h1 {
  color: #004D93;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 10px 0;
}

.logo {
  padding: 20px 0 10px 0;
}

.badge-primary {
  background-color: #004D93;
}

.info-legal {
  color: grey;
}


