<form (ngSubmit)="submitConge(congeForm.value)" #congeForm="ngForm">
  <fieldset>
    <legend>Informations personnelles</legend>
    <div class="form-group row required" [class.has-success]="checkText(user.firstname)">
      <label for="firstname" class="col-xs-12 col-sm-2 col-form-label">Prénom</label>

      <div class="col-xs-12 col-sm-10">
        <input class="form-control"
               [class.form-control-success]="checkText(user.firstname)" type="text"
               placeholder="John" id="firstname" name="firstname" [(ngModel)]="user.firstname" #prenom="ngModel"
               required>

        <div class="alert alert-danger" role="alert" *ngIf="prenom.dirty && prenom.hasError('required')">Le prénom est
          requis
        </div>
      </div>
    </div>
    <div class="form-group row required" [class.has-success]="checkText(user.lastname)">
      <label for="lastname" class="col-xs-12 col-sm-2 col-form-label">Nom</label>

      <div class="col-xs-12 col-sm-10">
        <input class="form-control" [class.form-control-success]="checkText(user.lastname)" type="text"
               placeholder="Doe" id="lastname" name="lastname"
               [(ngModel)]="user.lastname" #nom="ngModel" required>

        <div class="alert alert-danger" role="alert" *ngIf="nom.dirty && nom.hasError('required')">Le nom est
          requis
        </div>
      </div>
    </div>
    <div class="form-group row required" [class.has-success]="(matricule.dirty || matricule.untouched || matricule.touched) && checkMatricule()"
         [class.has-danger]="(matricule.dirty || matricule.untouched || matricule.touched) && !checkMatricule()">
      <label for="matricule" class="col-xs-12 col-sm-2 col-form-label">Matricule</label>

      <div class="col-xs-12 col-sm-10">
        <input class="form-control"
               [class.form-control-success]="(matricule.dirty || matricule.untouched || matricule.touched) && checkMatricule()"
               [class.form-control-danger]="(matricule.dirty || matricule.untouched || matricule.touched) && !checkMatricule()" type="text"
               placeholder="xxxx"
               id="matricule" name="matricule"
               [(ngModel)]="user.matricule" #matricule="ngModel" required #test>
        <small id="passwordHelpInline" class="text-muted">
          0000 pour un nouvel arrivant.
        </small>
        <div class="alert alert-danger" role="alert" *ngIf="matricule.dirty && matricule.hasError('required')">Le
          matricule est requis
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="isPartialTime" [(ngModel)]="user.isPartialTime"> Temps
            partiel
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Demande de congès</legend>

    <div class="alert alert-danger" role="alert" *ngIf="conge.isError">
      La demande de congé est en erreur : {{conge.errorMessage}}
    </div>
    <div class="form-group required">
      <div class="row">
        <label for="begin-date" class="col-sm-2 col-form-label">Date de debut</label>

        <div class="col-sm-4 mb-3">
          <div class="input-group">
            <input class="form-control" id="begin-date" placeholder="dd/mm/yyyy" (ngModelChange)="onSelectBeginDate($event)"
                   name="beginDate" [ngModel]="modelBeginDate" ngbDatepicker #d1="ngbDatepicker">
            <div class="input-group-addon" (click)="d1.toggle()" >
              <img src="../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="isBeginDateMorning"
                     [(ngModel)]="conge.isBeginDateMorning"
                     (change)="validateConge()"
                     [disabled]="!isValidDate(conge.beginDate)" > Matin
            </label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="isBeginDateAfternoon"
                     [(ngModel)]="conge.isBeginDateAfternoon"
                     (change)="validateConge()"
                     [disabled]="!isValidDate(conge.beginDate)" > Aprem
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="end-date" class="col-sm-2 col-form-label">Date de fin</label>

      <div class="col-sm-4 mb-3">
        <div class="input-group">
          <input class="form-control" id="end-date" placeholder="dd/mm/yyyy" (ngModelChange)="onSelectEndDate($event)"
                 name="endDate" [ngModel]="modelEndDate" ngbDatepicker #d2="ngbDatepicker" [disabled]="!conge.isBeginDateAfternoon">
          <div class="input-group-addon" (click)="d2.toggle()" [hidden]="!conge.isBeginDateAfternoon">
            <img src="../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="isEndDateMorning"
                   [(ngModel)]="conge.isEndDateMorning"
                   (change)="validateConge()" [disabled]="!conge.isBeginDateAfternoon || !isValidDate(conge.endDate)"> Matin
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="isEndDateBegin" [(ngModel)]="conge.isEndDateAfternoon"
                   (change)="validateConge()" [disabled]="!conge.isBeginDateAfternoon || !isValidDate(conge.endDate)">
            Aprem
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-sm-2 col-form-label">Nombre de jour</label>

      <div class="col-sm-10">
        <input class="form-control" type="number" id="example-date-input" name="offDayNumber"
               [(ngModel)]="conge.offDayNumber" disabled required>
      </div>
    </div>
    <div class="form-group row required">
      <label for="example-date-input" class="col-sm-2 col-form-label">Motif</label>

      <div class="col-sm-10">
        <select class="form-control" name="reason" [(ngModel)]="conge.reason" required>
          <option value="CP">Congès payés</option>
          <option value="SS">Congès sans solde</option>
          <option value="PC">Pont client</option>
          <option value="CE">Congés exceptionnels</option>
          <option value="RC">Récupération pour astreinte ou jours fériés</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="other-precision" class="col-sm-2 col-form-label">Autres précisions</label>

      <div class="col-sm-10">
        <textarea class="form-control" type="number" id="other-precision"
                  placeholder="Précisions supplémentaires" name="otherDetails"
                  [(ngModel)]="conge.otherDetails"></textarea>
      </div>
    </div>
  </fieldset>
  <div class="form-group col-xs-12">
    <div class="mx-auto" style="width: 200px;">
      <button type="submit" [disabled]="congeForm.invalid" class="btn btn-primary">Soumettre ma demande</button>
    </div>
  </div>
</form>
