.form-group-small {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #004D93;
  border-color: #004D93;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #5CB85C;
  border-color: #5CB85C;
}

button[type=submit] {
  text-align: center;
}

.form-group.required label:not(.form-check-label):after {
  content:"*";
  color:red;
}
