.form-group-small {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #004D93;
  border-color: #004D93;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #5CB85C;
  border-color: #5CB85C;
}

button[type=submit] {
  text-align: center;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
